.grid {
	display: grid;
}

.grid--col-2 {
	grid-template-columns: 1fr;
	row-gap: 2.4rem;

	@include respond-to(large) {
		grid-template-columns: 1fr 1fr;
		column-gap: 3rem;
	}
}

.grid--location {
	grid-template-columns: 1fr;
	row-gap: 4rem;

	@include respond-to(small) {
		row-gap: 12rem;
	}
	@include respond-to(large) {
		row-gap: 3.2rem;
	}
}
