.projects {
	padding-top: 9.6rem;
	margin-bottom: 9.6rem;

	@include respond-to(small) {
		margin-bottom: 12rem;
	}
	@include respond-to(large) {
		margin-bottom: 16rem;
	}

	&.grid {
		grid-template-columns: 1fr;
		row-gap: 4rem;

		@include respond-to(large) {
			grid-template-columns: repeat(3, 1fr);
			column-gap: 3rem;
		}
	}
}
