.showcase__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 8.8rem 0 9rem;
	text-decoration: none;
	border-radius: 15px;
	color: $white;

	@include respond-to(small) {
		padding: 5rem 0 5.4rem;
	}
	@include respond-to(large) {
		padding: 10.4rem 0 10.8rem;
	}

	&.web-design {
		background: linear-gradient(rgba(#000, 0.5), rgba(#000, 0.5)),
			url(../../assets/home/mobile/image-web-design.jpg) no-repeat center/cover;

		@include respond-to(small) {
			background: linear-gradient(rgba(#000, 0.5), rgba(#000, 0.5)),
				url(../../assets/home/tablet/image-web-design.jpg) no-repeat
					center/cover;
		}
		@include respond-to(large) {
			background: linear-gradient(rgba(#000, 0.5), rgba(#000, 0.5)),
				url(../../assets/home/desktop/image-web-design-large.jpg) no-repeat
					center/cover;
		}
	}

	&.app-design {
		background: linear-gradient(rgba(#000, 0.5), rgba(#000, 0.5)),
			url(../../assets/home/mobile/image-app-design.jpg) no-repeat center/cover;

		@include respond-to(small) {
			background: linear-gradient(rgba(#000, 0.5), rgba(#000, 0.5)),
				url(../../assets/home/tablet/image-app-design.jpg) no-repeat
					center/cover;
		}
		@include respond-to(large) {
			background: linear-gradient(rgba(#000, 0.5), rgba(#000, 0.5)),
				url(../../assets/home/desktop/image-app-design.jpg) no-repeat
					center/cover;
		}
	}

	&.graphic-design {
		background: linear-gradient(rgba(#000, 0.5), rgba(#000, 0.5)),
			url(../../assets/home/mobile/image-graphic-design.jpg) no-repeat
				center/cover;

		@include respond-to(small) {
			background: linear-gradient(rgba(#000, 0.5), rgba(#000, 0.5)),
				url(../../assets/home/tablet/image-graphic-design.jpg) no-repeat
					center/cover;
		}
		@include respond-to(large) {
			background: linear-gradient(rgba(#000, 0.5), rgba(#000, 0.5)),
				url(../../assets/home/desktop/image-graphic-design.jpg) no-repeat
					center/cover;
		}
	}

	&:hover {
		background: rgba($primary-peach, 0.8);
	}

	.showcase__title {
		color: $white;
		margin: 0 0 1.2rem;
		text-transform: uppercase;
	}

	.showcase__tagline {
		font-size: 1.5rem;
		letter-spacing: 5px;
		text-transform: uppercase;
		margin: 0;
	}
}
