*,
*::before,
*::after {
	box-sizing: border-box;
}

.overlay {
	display: none;
	background: rgba(#000, 0.5);
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	&.expanded {
		display: block;
	}
}

.list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.title {
	font-weight: 700;
}
