$primary-peach: #e78168;
$primary-black: #1d1c1e;
$secondary-peach: #ffad98;
$secondary-dark-grey: #333136;
$secondary-light-grey: #f1f3f5;
$white: #fff;

$font: 'Jost', sans-serif;

$breakpoints: (
	'small': 768px,
	'medium': 1024px,
	'large': 1440px,
);
